
 
 
  .card {
    width: 20vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 36px;
    perspective: 2500px;
    margin: 0 50px;
    /* box-shadow: 5px 10px 2px -5px rgba(0, 0, 0, 0.7) inset, -5px -5px 5px -2px rgba(255, 255, 255, 0.2) inset; */
    border-radius: 20px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 10px 2px -5px rgba(0, 0, 0, 0.7) inset, -5px -5px 5px -2px rgba(255, 255, 255, 0.2) inset;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(50deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    
   
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
   
    border-radius: 20px;
  }
  .wrapper::before {
    top: 0;
    background-color: rgb(196, 206, 227);
    height: 100%;
  
  }
  
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
      
    );
    
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
    background-size: contain;
  }
  .card:hover .title {
    transform: translate3d(0%, -70px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }
  
  
  
  
  
  /* ///2nd card */
  
  
  
  
  .wrapper2 {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
  }
  
  .card:hover .wrapper2 {
    transform: perspective(900px) translateY(-5%) rotateX(50deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    
   
  }
  
  .wrapper2::before,
  .wrapper2::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
   
    border-radius: 20px;
  }
  .wrapper2::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    ); background-image: url(/img/bmw-PhotoRoom.jpg);
  }
  
  .wrapper2::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
      
    );
    
  }
  
  .card:hover .wrapper2::before,
  .wrapper2::after {
    opacity: 1;
  }
  
  .card:hover .wrapper2::after {
    height: 120px;
  }


  /* //////////3rd card */




  .wrapper3 {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    z-index: -1;
  }
  
  .card:hover .wrapper3 {
    transform: perspective(900px) translateY(-5%) rotateX(50deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    
   
  }
  
  .wrapper3::before,
  .wrapper3::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
   
    border-radius: 20px;
  }
  .wrapper3::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    ); background-image: url(/img/showcase-PhotoRoom.jpeg);
  }
  
  .wrapper3::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
      
    );
    
  }
  
  .card:hover .wrapper3::before,
  .wrapper3::after {
    opacity: 1;
  }
  
  .card:hover .wrapper3::after {
    height: 120px;
  }