/* The side navigation menu */
.sidenav {
    height: 60%;
    width: 0; 
    position: fixed; 
    z-index: 10; 
    top: 20px;
    left: 10px;
    /* background-image: linear-gradient( 150deg, rgb(0, 0, 0), rgb(44, 5, 23),rgb(0, 0, 0)); */
    background-color: transparent;
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    border-radius: 30px;
    box-shadow: 1px 4px 2px 3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px 2px rgba(255, 255, 255, 0.2) inset;
  
   
}
#facebook:hover{
  transition: 0.5s;
   transform: translateY(-8px);
   box-shadow:20px rgb(255, 255, 255);
}
.nav {
    list-style: none;
    position: relative;
    padding-right: 20vh;
   margin-left: -20px;
   z-index: 1;
  }
.sidenav  li a {
    text-decoration: none;
    color: #C4cFDE;
    display: flex;
    align-items: center;
    transition: 0.5s;
  }


  .sidenav li a i {
    font-size: 22px;
    margin-right: 20px;
  }


  .active1 {
    background-color: aliceblue;
    width: 70%;
    height: 47px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(98, 223, 175);
    left: 16%;
    margin-top: 4%;
    z-index: -1;
    position: absolute;
    display: none;
    transition: top 0.5s;
  }
  
  .sidenav li a:hover {
    color: #000;
    transition: 0.3s;
  }
  
  .nav li:hover~.active1 {
    display: block;
  }
  
  .nav li:nth-child(1):hover~.active1 {
    top: 2.6%;
  }
  
  .nav li:nth-child(2):hover~.active1 {
    top: 22.6%;
  }
  
  .nav li:nth-child(3):hover~.active1 {
    top: 42.6%;
  }
  
  .nav li:nth-child(4):hover~.active1 {
    top: 62.6%;
  }
  .nav li:nth-child(5):hover~.active1 {
    top: 82.6%;
  }

  
 
  

  

  
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Gotham;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
     
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}